* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}


li {
    display: inline-block;
}

ul {
    text-align: left;
}

li+li {
    margin-left: 110px;
}

li a {
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    color: orange;
    font-size: 30px;
    padding-left: 70px;
}


.fa-shopping-cart:hover {
    color: rgb(0, 134, 29);
}

.fa-utensil-spoon:hover {
    color: rgb(0, 134, 29);
}

.fa-clock:hover {
    color: rgb(0, 134, 29);
}

h2 {
    font-size: 20px;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;

}

p {
    text-align: left;
    margin-top: 50px;
    font-size: 20px;
    padding-left: 60px;
}


h1 {
    font-family: 'Hepta Slab', serif;
    color: rgb(0, 141, 47);
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}



.fab.fa-twitter {
    font-size: 30px;
    color: rgb(55, 190, 243);
}

.fab.fa-twitter:hover {
    color: orange;
}

.fab.fa-facebook-f {
    font-size: 30px;
    color: rgb(2, 90, 221);
}

.fab.fa-facebook-f:hover {
    color: orange;
}

.fab.fa-instagram {
    font-size: 30px;
    color: rgb(230, 0, 142);
}

.fab.fa-instagram:hover {
    color: orange;
}

.fab.fa-pinterest-square {
    font-size: 30px;
    color: rgb(250, 34, 34);
}

.fab.fa-pinterest-square:hover {
    color: orange;
}

.fas.fa-envelope {
    font-size: 30px;
    color: rgb(180, 34, 24);
}

.fas.fa-envelope:hover {
    color: orange;
}



.card {
    width: 640px;
    height: 1190px;
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(255, 123, 0);
    margin-left: 500px;
}

img {
    width: 100%;
    height: auto;
    max-width: 640px;
}
