body {
    background-color: rgb(255, 208, 147);

}


.box {

    height: 1000px;
    width: 95px;
    padding: 60px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    float: left;
}



h1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 153, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 13px;
    padding-bottom: 10px;
}

svg:hover path {
    fill: rgb(233, 210, 5);
}

svg {
    height: 50px;
    width: auto;
}

path {
    fill: rgb(255, 8, 0);
}


.fab.fa-twitter {
    font-size: 20px;
    color: rgb(55, 190, 243);

}

.fab.fa-facebook-f {
    font-size: 20px;
    color: rgb(2, 90, 221);
}

.fab.fa-instagram {
    font-size: 20px;
    color: rgb(230, 0, 142);

}

.fab.fa-pinterest-square {
    font-size: 20px;
    color: rgb(250, 34, 34);
}

.fas.fa-envelope {
    font-size: 20px;
    color: rgb(180, 34, 24);

}

div {
    margin-left: 223px;
}

main {


    width: 540px;
    height: 1020px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: auto;
}

img {
    width: 70%;
    height: auto;
    max-width: 640px;
}
